#flex-containerintro{

    background-image: url(/images/IntroBackground.jpg);
    z-index: -1;
}
#headertextimage{
    position: relative;
    left: 200px;
    width: 800px;
    z-index: -1;
    border: thick solid black;
}

#test{
    color: white;
    position: relative;
    right: 600px;
    
}
#header-buttons{
    left: 822px;
    height: 40px;
    position: relative;
    float: left;

}                 
#html-image1{
    position: relative;
    width: 150px;
    border-radius: 50px;
    right: 200px;

}
#html-image2{
    position: relative;
    width: 150px;
    border-radius: 50px;
    left: 200px;

}


#table-flex-box{
    box-sizing: border-box;
    border: thick solid black;
    background-image: url(/images/table\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;  
    width: 50%;
    
    
    
}

#myproject-background{
    border: thick solid black;
    position: relative;
    width: 600px;
    height: 80px;
    border-radius: 100px;
    
    right: 185px;
    
}
#table-intro{
    position: relative;
    left: 200px;
    
}
h2{
    font-weight: bold;
    position: relative;
    left: 22%;
    z-index: 1;
}  
#th1{
    border: thick solid black;
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(/images/table-backgrounds.png);
    border-radius: 100px;
    top: -3%;
    
}

div th{
    border: thick solid black;
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(/images/table-backgrounds.png);
    border-radius: 100px;
    top: -1%;

}
#table-flex-box2{
    box-sizing: border-box;
    border: thick solid black;
    background-image: url(/images/table-backgrounds.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    
    width: 50%;

}