body{ 
    position: absolute;
    height: 700px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: turquoise;

}
#page{
    width: 100%;
}



#flex-containerintro{
display: flex;
background-image: url(/images/IntroBackground.jpg);
position: relative;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: center;
margin-left: 0px;
margin-right: 0px;
height: 160px;
z-index: -2;



}
#flex-container-text{
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1;
    
    
}
#headertextimage{
    position: relative;
    left: 200px;
    width: 800px;
    z-index: -1;
    border: thick solid black;
}
#test{
    color: white;
    position: relative;
    right: 600px;
    
}

 
#header-flex-container{
    border: thick solid black;
    
    display: flex;
    background-image: url(/images/headerbackground.jpg);
    align-content: center;
    justify-content: center;
    height: 40px;
    z-index: 1;
    

}

#header-buttons{
    left: 822px;
    height: 40px;
    position: relative;
    float: left;

}                 
#html-image1{
    position: relative;
    width: 150px;
    border-radius: 50px;
    right: 200px;

}
#html-image2{
    position: relative;
    width: 150px;
    border-radius: 50px;
    left: 200px;

}

#table-flex-container{
    display: flex;

    background-color: violet;
    height: 700px;
}

#table-intro{
    position: relative;
    left: 200px;
    
}

#table-flex-box{
    box-sizing: border-box;
    border: thick solid black;
    background-image: url(/images/table\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;  
    width: 50%;
    
    
    
}
#myproject-background{
    border: thick solid black;
    position: relative;
    width: 600px;
    height: 80px;
    border-radius: 100px;
    
    right: 185px;
    
}

h2{
    font-weight: bold;
    position: relative;
    left: 22%;
    z-index: 1;
    
    
    
}  


#th1{
    border: thick solid black;
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(/images/table-backgrounds.png);
    border-radius: 100px;
    top: -3%;
    
}

div th{
    border: thick solid black;
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(/images/table-backgrounds.png);
    border-radius: 100px;
    top: -1%;

}

.flex-table-box2{
    box-sizing: border-box;
    border: thick solid black;
    background-image: url(/images/table\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;  
    width: 50%;

}
 
#footer-flex-container{
    display: flex;
    height:80px;
    background-image: url(/images/headerbackground.jpg);
    border: thick solid black;
    position: relative;
    align-content: center;
    justify-content: center;

    
}
#footerlinkwindow{
position: relative;
top: -50px;
left: 100px;



    
    
}





